<li class="card" style="width: 17rem;">
    <img class="card-img-top"  src="/assets/images/burger.jpg"> 
        <div class="card body">
            <h5 class="card-title">{{this.id}} - {{this.burger_name}}</h5>
            <div class="row">
            	<div class="col-sm-1"></div>
				<button type="submit" class="eat" data-id="{{this.id}}" data-newEat="{{devoured}}">
					{{#if devoured}}{{else}}Eat Burger{{/if}}
				</button> 
            	<div class="col-sm-1"></div>
            <button type="submit" class="delete" data-id="{{this.id}}">Delete Burger</button>
        </div>
    </div>
</li>
<br>